body {
	background: #1574c3;
	display: flex;
	justify-items: center;
	padding: 0 17%;
	align-items: center;
	height: 95vh;
	font-family: montserrat;
	opacity: 30;
	background-image: url('white.jpg');
	background-size: cover;
	background-position: center;
} 
/* Form Container */

#wrapper {
	width: 515px;
	height: 100%;
	background-color: #f7f7f7;
	/* position: relative; */
	justify-content: center;
	overflow: hidden;
	margin-left: 250px;
	box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.4);
}
#wrapper h1 {
	color: #1574c3;
}
/* Form */



.form {
	width: 500px;
	height: 370px;
	/* position: absolute; */
	top: 0;
	left: 0;
	/* transition: transform 0.6s ease-in-out; */
	text-align: center;
	padding: 0 auto;
}

h5 span{
	font-size: 20px;
	color: red;
}

.split{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0 30px;
}

.split input{
	padding: 0 50px;
}

#upload{
	padding: 0;
	margin: 0;
}

.form input {
	width: 80%;
	height: 35px;
	margin-bottom: 15px;
	padding: 0 0 0 15px;
}
/* Login Form */

#login-side {
	background-color: #f7f7f7;
	/* transform: translateX(0); */
	height: 500px;
}
/* Sign Up Form */

/* Form Switch */

button {
	/* display: block; */
	margin: 2% auto 0;
	border: none;
	background: #1574c3;
	padding: 10px 175px;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	border-radius: 5px;
	font-family: montserrat;
	font-weight: 700;
}